<% content_for :title, "Nova bateria de balizamento" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Nova bateria de balizamento</h1>

  <%= render "form", swimming_marker_block: @swimming_marker_block %>

  <%= link_to "Back to swimming marker blocks", admin_swimming_marker_group_path(@swimming_marker_group), class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
